.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 100%;
  max-width: 500px;
}

/* Typing effect */
#text-container {
  display: inline-flex;  /* Make container width match the text */
  justify-content: center; /* Optional: to center the text horizontally */
}

#greeting {
  display: inline-block;
  font-size: 2em;
  white-space: nowrap; /* Prevents wrapping */
  overflow: hidden;
  border-right: 0.1em solid #333; /* Cursor width */
  width: 0; /* Initial width for typing effect */
  animation: typing 2s steps(20) 1s forwards, blink 0.75s step-end infinite;
}

#fadeout {
  animation: fadeout 1s 4s forwards;
}

#fadein {
  animation: fadein 1s 5s forwards;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor blink animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.fadein {
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1s ease-in-out; /* Smooth fade-in transition */
}

/* Optional: If you want to fade out later, you can add a class like .fadeout and define the transition */
.fadeout {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}